* {
    margin: 0;
    padding: 0;
}

body {
    background: #004980;
}

.app {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.choiceForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 480px;
    background-color: #c2f5ff;
    border-radius: 12px;
    margin-top: 158px;
}

.choiceForm__text {
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #004980;
    margin-top: 52px;
    margin-bottom: 48px;
}

.choiceForm__levelBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 24px;
    height: 98px;
}

.choiceForm__level-one {
    background-image: url(//img/1.png);
    background: #ffffff;
    border-radius: 12px;
    width: 98px;
    height: 100%;
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #004980;
}

.choiceForm__level-two {
    background-image: url(//img/1.png);
    background: #ffffff;
    border-radius: 12px;
    width: 98px;
    height: 100%;
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #004980;
}

.choiceForm__level-three {
    background: #ffffff;
    border-radius: 12px;
    width: 98px;
    height: 100%;
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #004980;
}

.choiceForm__button {
    width: 246px;
    height: 50px;
    background: #7ac100;
    border-radius: 12px;
    margin-bottom: 48px;
    margin-top: 67px;
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #ffffff;
}

.headerBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    height: 100px;
    width: 1000%;
}

.headerBox__timer {
    display: flex;
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    color: #ffffff;
    width: 155px;
    height: 72px;
}

.cardBox {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 5%;
}

.cardBox__img {
    width: 95px;
    height: 133px;
}

.fieldForGame {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.match {
    background-image: url(./img/cardBack.jpg);
}
